.container {
  background:lavender;
  height:100%;
}

.sky-scape {
 /* border:2px solid blue;*/
  height:600px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  background:-webkit-linear-gradient(skyblue,white,blue);
  background:linear-gradient(skyblue,white,blue);
  -webkit-animation-name:sky-scape;
          animation-name:sky-scape;
    -webkit-animation-duration:20s;
            animation-duration:20s;
    -webkit-animation-timing-function:linear;
            animation-timing-function:linear;
    padding:20px;
}


.planet-1 {
  height:50px;
  width:50px;
  border-radius:100%;
  background: -webkit-radial-gradient(purple, blue);
  background: radial-gradient(purple, blue);
  -webkit-animation-name:planet-1;
          animation-name:planet-1;
  position:relative;
  -webkit-animation-duration:10s;
          animation-duration:10s;
}


.planet-2 {
  height:100px;
  width:100px;
  border-radius:100%;
   -ms-flex-item-align:center;
       align-self:center;
    background: -webkit-linear-gradient(teal, yellow);
    background: linear-gradient(teal, yellow);
  position:relative;
   -webkit-animation-name:planet-2;
           animation-name:planet-2;
  -webkit-animation-duration:20s;
          animation-duration:20s;
   
}

.planet-3 {
  height:150px;
  width:150px;
  border-radius:100%;
  background: -webkit-linear-gradient(purple, red,orange);
  background: linear-gradient(purple, red,orange);
   -webkit-animation-name:planet-3;
           animation-name:planet-3;
  -webkit-animation-duration:12s;
          animation-duration:12s;
   
}

.planet-4 {
  height:200px;
  width:200px;
  border-radius:100%;
  -ms-flex-item-align:end;
      align-self:flex-end;
  background: -webkit-linear-gradient( #80b3ff, #33ff77, #ff99c2);
  background: linear-gradient( #80b3ff, #33ff77, #ff99c2);
   -webkit-animation-name:planet-4;
           animation-name:planet-4;
    -webkit-animation-duration:15s;
            animation-duration:15s;
    position:relative;
    bottom:100px;
}
.planet-5 {
  height:80px;
  width:80px;
  border-radius:100%;
  background: -webkit-linear-gradient(blue,red, yellow);
  background: linear-gradient(blue,red, yellow);
   -webkit-animation-name:planet-5;
           animation-name:planet-5;
    -webkit-animation-duration:17s;
            animation-duration:17s;
}

.planet-6 {
  height:50px;
  width:50px;
  border-radius:100%;
    -ms-flex-item-align:center;
        align-self:center;
  background: -webkit-linear-gradient(grey, white,yellow);
  background: linear-gradient(grey, white,yellow);
   -webkit-animation-name:planet-6;
           animation-name:planet-6;
    -webkit-animation-duration:15s;
            animation-duration:15s;
}
/*START STARS*/

.stars {
     height:10px;
  width:10px;
  background:yellow;
  border-radius:100%;
    position:absolute;
}

.stars:hover{
  box-shadow: 0 0 30px 30px #fff,  /* inner white */
        0 0 100px 30px #f0f, /* middle magenta */
        0 0 140px 50px yellow; /* outer cyan */
  -webkit-animation-name:star;
          animation-name:star;
  -webkit-animation-duration:10s;
          animation-duration:10s;
}

.star-1 {
    left:200px;
}
.star-2 {
    left:250px;
    top:200px;
}

.star-3 {
    left:400px;
    top:300px;
}

.star-4 {
    left:450px;
    top:400px;
}

.star-5 {
    left:500px;
    top:50px;
}

.star-6 {
    left:600px;
    top:120px;
}

.star-7 {
    left:900px;
    top:300px;
}

.star-8 {
    left:1000px;
    top:350px
}

/*END STARS*/




/*KEYFRAMES*/

/*START SKY-SCAPE*/
@-webkit-keyframes sky-scape {
    0%{background:-webkit-linear-gradient(skyblue,white,blue);background:linear-gradient(skyblue,white,blue);
     
}
    25%{
        background:-webkit-linear-gradient(skyblue,orange,white);
        background:linear-gradient(skyblue,orange,white);
        
    }
    50%{
        background:-webkit-linear-gradient(yellow,orange,red);
        background:linear-gradient(yellow,orange,red);
        
    }
    75%{
        background:-webkit-linear-gradient(black,black,black);
        background:linear-gradient(black,black,black);
        
    }
    100% {
        background:-webkit-linear-gradient(black,black,black);
        background:linear-gradient(black,black,black);
       
    }
}
@keyframes sky-scape {
    0%{background:-webkit-linear-gradient(skyblue,white,blue);background:linear-gradient(skyblue,white,blue);
     
}
    25%{
        background:-webkit-linear-gradient(skyblue,orange,white);
        background:linear-gradient(skyblue,orange,white);
        
    }
    50%{
        background:-webkit-linear-gradient(yellow,orange,red);
        background:linear-gradient(yellow,orange,red);
        
    }
    75%{
        background:-webkit-linear-gradient(black,black,black);
        background:linear-gradient(black,black,black);
        
    }
    100% {
        background:-webkit-linear-gradient(black,black,black);
        background:linear-gradient(black,black,black);
       
    }
}

/*START-PLANET-1*/
@-webkit-keyframes planet-1 {
   0% {background:-webkit-linear-gradient(purple, blue,yellow);background:linear-gradient(purple, blue,yellow);
    -webkit-transform:translate(100px,100px) scale(2);
            transform:translate(100px,100px) scale(2);
  }
25% {background:-webkit-linear-gradient(orange, yellow);background:linear-gradient(orange, yellow);
    -webkit-transform:translate(100px,100px) scale(3);
            transform:translate(100px,100px) scale(3);
 
  }
50% {background:-webkit-linear-gradient(white,green);background:linear-gradient(white,green);
    -webkit-transform:translate(90px, 120px) scale(2.5);
            transform:translate(90px, 120px) scale(2.5);
  }
    
75% {background:-webkit-linear-gradient(blue,purple);background:linear-gradient(blue,purple);
  }
100% {background:-webkit-linear-gradient(yellow,red);background:linear-gradient(yellow,red);
  }
}
@keyframes planet-1 {
   0% {background:-webkit-linear-gradient(purple, blue,yellow);background:linear-gradient(purple, blue,yellow);
    -webkit-transform:translate(100px,100px) scale(2);
            transform:translate(100px,100px) scale(2);
  }
25% {background:-webkit-linear-gradient(orange, yellow);background:linear-gradient(orange, yellow);
    -webkit-transform:translate(100px,100px) scale(3);
            transform:translate(100px,100px) scale(3);
 
  }
50% {background:-webkit-linear-gradient(white,green);background:linear-gradient(white,green);
    -webkit-transform:translate(90px, 120px) scale(2.5);
            transform:translate(90px, 120px) scale(2.5);
  }
    
75% {background:-webkit-linear-gradient(blue,purple);background:linear-gradient(blue,purple);
  }
100% {background:-webkit-linear-gradient(yellow,red);background:linear-gradient(yellow,red);
  }
}
/*END-PLANET-1*/

/*START PLANET-2*/
@-webkit-keyframes planet-2{
  0% {background:-webkit-linear-gradient(blue,purple);background:linear-gradient(blue,purple);
      
  
  }
  25%{background:-webkit-linear-gradient(purple,white);background:linear-gradient(purple,white);
    -webkit-transform:translateX(75px) scale(1.5);
            transform:translateX(75px) scale(1.5);
  }
  50%{background:-webkit-radial-gradient(yellow,white);background:radial-gradient(yellow,white);
      -webkit-transform:translate(50px, 100px);
              transform:translate(50px, 100px)
}
75% {
  background:-webkit-radial-gradient(blue,white,red);
  background:radial-gradient(blue,white,red);
   -webkit-transform:translate(100px,50px) scale(2);
           transform:translate(100px,50px) scale(2);
}
  100% {
    background:-webkit-radial-gradient(black,red,white);
    background:radial-gradient(black,red,white);
      -webkit-transform:translate(150px, 100px;);
              transform:translate(150px, 100px;);
  }
}
@keyframes planet-2{
  0% {background:-webkit-linear-gradient(blue,purple);background:linear-gradient(blue,purple);
      
  
  }
  25%{background:-webkit-linear-gradient(purple,white);background:linear-gradient(purple,white);
    -webkit-transform:translateX(75px) scale(1.5);
            transform:translateX(75px) scale(1.5);
  }
  50%{background:-webkit-radial-gradient(yellow,white);background:radial-gradient(yellow,white);
      -webkit-transform:translate(50px, 100px);
              transform:translate(50px, 100px)
}
75% {
  background:-webkit-radial-gradient(blue,white,red);
  background:radial-gradient(blue,white,red);
   -webkit-transform:translate(100px,50px) scale(2);
           transform:translate(100px,50px) scale(2);
}
  100% {
    background:-webkit-radial-gradient(black,red,white);
    background:radial-gradient(black,red,white);
      -webkit-transform:translate(150px, 100px;);
              transform:translate(150px, 100px;);
  }
}
/*-END PLANET-2*/

  /*START PLANET-3*/
  @-webkit-keyframes planet-3 {
    0% {background:-webkit-linear-gradient(pink,purple);background:linear-gradient(pink,purple);
        -webkit-transform:translate(50px);
                transform:translate(50px);
  }
  25%{background:-webkit-linear-gradient(pink,white,yellow);background:linear-gradient(pink,white,yellow);
    -webkit-transform:translate(50px,100px);
            transform:translate(50px,100px);
  }
  50% {background:-webkit-radial-gradient(blue,yellow,red);background:radial-gradient(blue,yellow,red);
    -webkit-transform:translate(100px, 50px);
            transform:translate(100px, 50px);
      }
      
 75% {
    background:-webkit-radial-gradient(red,purple,green);
    background:radial-gradient(red,purple,green);
   -webkit-transform:translateY(100px) scale(1);
           transform:translateY(100px) scale(1);
      }
100%{
    background:-webkit-radial-gradient(pink, yellow, blue);
    background:radial-gradient(pink, yellow, blue);
    
      }
}
  @keyframes planet-3 {
    0% {background:-webkit-linear-gradient(pink,purple);background:linear-gradient(pink,purple);
        -webkit-transform:translate(50px);
                transform:translate(50px);
  }
  25%{background:-webkit-linear-gradient(pink,white,yellow);background:linear-gradient(pink,white,yellow);
    -webkit-transform:translate(50px,100px);
            transform:translate(50px,100px);
  }
  50% {background:-webkit-radial-gradient(blue,yellow,red);background:radial-gradient(blue,yellow,red);
    -webkit-transform:translate(100px, 50px);
            transform:translate(100px, 50px);
      }
      
 75% {
    background:-webkit-radial-gradient(red,purple,green);
    background:radial-gradient(red,purple,green);
   -webkit-transform:translateY(100px) scale(1);
           transform:translateY(100px) scale(1);
      }
100%{
    background:-webkit-radial-gradient(pink, yellow, blue);
    background:radial-gradient(pink, yellow, blue);
    
      }
}
/*END PLANET-3*

/*-START PLANET-4*/

@-webkit-keyframes planet-4 {
    0% {
        background:-webkit-radial-gradient(#1aff1a,#c2f0f0,#eb99ff);
        background:radial-gradient(#1aff1a,#c2f0f0,#eb99ff);
        -webkit-transform:translate(200px,100px;);
                transform:translate(200px,100px;)
    }
    25%{
        background:-webkit-radial-gradient(#990099,#ff8533,##ff9999);
        background:radial-gradient(#990099,#ff8533,##ff9999);
        -webkit-transform:scale(1.5);
                transform:scale(1.5);
    }
    50%{
        background:-webkit-radial-gradient(#b3ffd9,#99ff33,#ff33bb);
        background:radial-gradient(#b3ffd9,#99ff33,#ff33bb);
        -webkit-transform:translate(40px,80px);
                transform:translate(40px,80px);
    }
    75%{
        background:-webkit-radial-gradient(#001a4d,#ddffcc,#e600e6);
        background:radial-gradient(#001a4d,#ddffcc,#e600e6);
        -webkit-transform:translate(30px,-100px);
                transform:translate(30px,-100px);
    }
    100%{
        background:-webkit-radial-gradient(#b3ffd9,#ffff4d, #ff8080);
        background:radial-gradient(#b3ffd9,#ffff4d, #ff8080);
            -webkit-transform:translate(100px, 100px);
                    transform:translate(100px, 100px);
    }
}

@keyframes planet-4 {
    0% {
        background:-webkit-radial-gradient(#1aff1a,#c2f0f0,#eb99ff);
        background:radial-gradient(#1aff1a,#c2f0f0,#eb99ff);
        -webkit-transform:translate(200px,100px;);
                transform:translate(200px,100px;)
    }
    25%{
        background:-webkit-radial-gradient(#990099,#ff8533,##ff9999);
        background:radial-gradient(#990099,#ff8533,##ff9999);
        -webkit-transform:scale(1.5);
                transform:scale(1.5);
    }
    50%{
        background:-webkit-radial-gradient(#b3ffd9,#99ff33,#ff33bb);
        background:radial-gradient(#b3ffd9,#99ff33,#ff33bb);
        -webkit-transform:translate(40px,80px);
                transform:translate(40px,80px);
    }
    75%{
        background:-webkit-radial-gradient(#001a4d,#ddffcc,#e600e6);
        background:radial-gradient(#001a4d,#ddffcc,#e600e6);
        -webkit-transform:translate(30px,-100px);
                transform:translate(30px,-100px);
    }
    100%{
        background:-webkit-radial-gradient(#b3ffd9,#ffff4d, #ff8080);
        background:radial-gradient(#b3ffd9,#ffff4d, #ff8080);
            -webkit-transform:translate(100px, 100px);
                    transform:translate(100px, 100px);
    }
}

/*-END PLANET-4*/

/*START PLANET-5*/

@-webkit-keyframes planet-5{
  0% {
        background:-webkit-radial-gradient(#e6ccff,#ffdb4d,#ff1a1a);
        background:radial-gradient(#e6ccff,#ffdb4d,#ff1a1a);
      -webkit-transform:translate(100px,-100px),;
              transform:translate(100px,-100px),
    }
    25%{
        background:-webkit-radial-gradient(#3bb300,#33ffcc,#8585e0);
        background:radial-gradient(#3bb300,#33ffcc,#8585e0);
       
    }
    50%{
        background:-webkit-radial-gradient(#ff33ff,#ffb3cc.#ffff1a);
        background:radial-gradient(#ff33ff,#ffb3cc.#ffff1a);
        -webkit-transform:translate(150px, 100px,);
                transform:translate(150px, 100px,);
    }
    75%{
        background:-webkit-radial-gradient(#e600e6,#4dff88,#0000b3);
        background:radial-gradient(#e600e6,#4dff88,#0000b3);
         -webkit-transform:scale(1.5);
                 transform:scale(1.5);
    }
    100%{
        background:-webkit-radial-gradient(#9999ff,#ff3399, #ffffb3);
        background:radial-gradient(#9999ff,#ff3399, #ffffb3);
        -webkit-transform:translate(50px,50px);
                transform:translate(50px,50px);
    }
}

@keyframes planet-5{
  0% {
        background:-webkit-radial-gradient(#e6ccff,#ffdb4d,#ff1a1a);
        background:radial-gradient(#e6ccff,#ffdb4d,#ff1a1a);
      -webkit-transform:translate(100px,-100px),;
              transform:translate(100px,-100px),
    }
    25%{
        background:-webkit-radial-gradient(#3bb300,#33ffcc,#8585e0);
        background:radial-gradient(#3bb300,#33ffcc,#8585e0);
       
    }
    50%{
        background:-webkit-radial-gradient(#ff33ff,#ffb3cc.#ffff1a);
        background:radial-gradient(#ff33ff,#ffb3cc.#ffff1a);
        -webkit-transform:translate(150px, 100px,);
                transform:translate(150px, 100px,);
    }
    75%{
        background:-webkit-radial-gradient(#e600e6,#4dff88,#0000b3);
        background:radial-gradient(#e600e6,#4dff88,#0000b3);
         -webkit-transform:scale(1.5);
                 transform:scale(1.5);
    }
    100%{
        background:-webkit-radial-gradient(#9999ff,#ff3399, #ffffb3);
        background:radial-gradient(#9999ff,#ff3399, #ffffb3);
        -webkit-transform:translate(50px,50px);
                transform:translate(50px,50px);
    }
}

/*START PLANET-6*/

@-webkit-keyframes planet-6{
  0% {
        background:-webkit-radial-gradient(#bf00ff,#0055ff,#b3ff1a);
        background:radial-gradient(#bf00ff,#0055ff,#b3ff1a);
      -webkit-transform:translate(100px,100px,);
              transform:translate(100px,100px,);
    }
    25%{
        background:-webkit-radial-gradient( #ff661a,#9fdfbf,#ff0000);
        background:radial-gradient( #ff661a,#9fdfbf,#ff0000);
        -webkit-transform:scale(1.5);
                transform:scale(1.5);
    }
    50%{
        background:-webkit-radial-gradient(#ffece6,#ffb3ff,#80e5ff);
        background:radial-gradient(#ffece6,#ffb3ff,#80e5ff);
        -webkit-transform:translateY(90px);
                transform:translateY(90px);
    }
    75%{
        background:-webkit-radial-gradient(#ff4da6,#ffff66,#004d00);
        background:radial-gradient(#ff4da6,#ffff66,#004d00);
        -webkit-transform:translateX(50px);
                transform:translateX(50px);
    }
    100%{
        background:-webkit-radial-gradient(#b3cccc,#e699ff,#d2ff4d);
        background:radial-gradient(#b3cccc,#e699ff,#d2ff4d);
        -webkit-transform:scale(2);
                transform:scale(2);
    }
}

@keyframes planet-6{
  0% {
        background:-webkit-radial-gradient(#bf00ff,#0055ff,#b3ff1a);
        background:radial-gradient(#bf00ff,#0055ff,#b3ff1a);
      -webkit-transform:translate(100px,100px,);
              transform:translate(100px,100px,);
    }
    25%{
        background:-webkit-radial-gradient( #ff661a,#9fdfbf,#ff0000);
        background:radial-gradient( #ff661a,#9fdfbf,#ff0000);
        -webkit-transform:scale(1.5);
                transform:scale(1.5);
    }
    50%{
        background:-webkit-radial-gradient(#ffece6,#ffb3ff,#80e5ff);
        background:radial-gradient(#ffece6,#ffb3ff,#80e5ff);
        -webkit-transform:translateY(90px);
                transform:translateY(90px);
    }
    75%{
        background:-webkit-radial-gradient(#ff4da6,#ffff66,#004d00);
        background:radial-gradient(#ff4da6,#ffff66,#004d00);
        -webkit-transform:translateX(50px);
                transform:translateX(50px);
    }
    100%{
        background:-webkit-radial-gradient(#b3cccc,#e699ff,#d2ff4d);
        background:radial-gradient(#b3cccc,#e699ff,#d2ff4d);
        -webkit-transform:scale(2);
                transform:scale(2);
    }
}
/*-END PLANET-6*/











